body {
  background-color: #fbfaf9;
  font-family: 'Roboto', sans-serif;
  z-index: 0;
}

a {
  cursor: pointer;
}

span {
  color: #fbfaf9;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

hr {
  background-color: #fbfaf9;
  border-top: solid 1px #fbfaf9;
}

#help {
  position: fixed;
}

.container {
  min-width: 100%;
  margin: 0px;
}

.btn {
  width: 100%;
  background-color: #4e77a0;
}

.interactionArea{
  height: 100%;
}

/*HUD start*/
#hud {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#helpButton {
  background-image: url("../assets/help.png");
  height:60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#docButton {
  background-image: url("../assets/folder_4E77A0.png");
  height:60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#backArrow {
  background-image: url("../assets/keyboard_arrow_4E77A0.png");
  height:63px;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  bottom: 20px;
}

#nextArrow {
  background-image: url("../assets/keyboard_arrow_4E77A0.png");
  height:63px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  position: fixed;
  bottom: 20px;
}



/*HUD end*/

#displayArea {
  min-height: 60%;
}

#controlAreaBG {
  position: relative;
  background-color: #80a2cc;
  min-width: 100%;
  min-height: 37%;
  overflow: hidden;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}

#controlAreaTop {
  position: absolute;
  background-color: #80a2cc;
  box-shadow: inset 0px 4px 4px #494769;
  min-width: 104%;
  top: 10%;
  left: -2%;
  min-height: 2%;
}

#controlAreaBG2 {
  background-color: #80a2cc;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

#controlAreaTop2 {
  background-color: #80a2cc;
  box-shadow: inset 0px 4px 4px #494769;
  min-width: 100%;
  margin-top: 2%;
  min-height: 2%;
}

.dilemmaText {
  text-align: center;
  color: #fbfaf9;
}

#greencheck{
  width: 100%;
  height: 200px;
  background-image: url('../assets/greencheck.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}