#dilemmaBG{
    background-color: #7F7DBB;
    border-radius: 70px;
    height: 323px;
    margin-left: 4.17%;
    margin-top: 17px;
    
}

#dilemmaBG h5{
    font-style: italic;
    margin-top: 10px;
}
#dilemmaBG p{
    font-size: 1.28em;
}

#dilemmaBG p, #dilemmaBG h5{
    margin-left: 4%;
    margin-top: 20px;
    color: #FBFAF9;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-weight: 500;
    letter-spacing: 0.0357143em;
    text-align: center;
    
}

/* GRID start */

#grid{
    margin-top: 10px;
}

.gridItems{
    display: flex;
    justify-content: space-evenly;
}

.gridVbar{
    position: absolute;
    width: 7px;
    height: 257px;
    margin: 0px;
    background: #BEC4D9;
    opacity: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.gridHbarCont{
    position: absolute;
    z-index: -1;
    margin-top: 30px;
}

.gridHbar{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 2px solid #BEC4D9;
    margin-left: -10%;

    opacity: 0.6;
}

#secondHBar, #thirdHBar{
    margin-top: 30px;
}

#yes{
    position: absolute;
    background-image: url("../assets/yes.png");
    height:60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;;
}

#no{
    position: absolute;
    background-image: url("../assets/no.png");
    height:60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;;
}

.charaDis{
    width: 100%;
    text-align: center;
    color: #80A2CC;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.stampPoint{
    height: 60px;
    width: 100%;
    margin-top: -5px;
}

.stamped{
    background-image: url("../assets/stamp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 59px;
}

/* GRID end */

/*text-transform: capitalize;
#propertyControlArea{
    margin-top: 10%;
}

.pickedTopic{
    background-color: #4E77A0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.pickedTopic .topicText{
    padding-bottom: 5%;
}

.propertyCol{
    border-left: solid 1px #FBFAF9;
    border-right: solid 1px #FBFAF9;
}

.propertyHr{
    margin-top: 10%;
    margin-bottom: 10%;
}

#trashMod2Cont{
    position: absolute;
    top: 75%;
    left: 45%;
    width: 12.5%;
    height: 143px;
}

.propertySelection{
    margin-right: 5%;
}

.propertyButtons{
    background-color: #7F7DBB; 
    height: 77px;
    border: none;
    text-decoration: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    color: #FBFAF9;
    font-size: 2em;
}

.propertyButtons:focus{
    background-color: rgb(191, 189, 231);
    box-shadow: none;
}

.propertyButtonsPressed{
    background-color: rgb(191, 189, 231);
    box-shadow: none;
    width: 100%;
}

@media screen and (max-height:600px){
    #trashMod2Cont{
        margin-top: 5%;
        height: 70px;
    }
}
*/