.agreements{
    margin-top: 20px;
}

textarea{
    resize: none;
    color: #7F7DBB;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-weight: 500;
    letter-spacing: 0.0357143em;
    text-align: center;
}

.textareaWrap{
    border: 3px dotted #7F7DBB;
    border-radius: 70px;
}

.textareaWrap textarea{
    height: 150px;
    outline: none;
    border: none;
    overflow: hidden;
    margin-top: 10px;
    font-size: 1.5em;
}

.character-counter{
    margin-top: -8%;
}