.module4 #dilemmaBG{
  height: 65vh;
  margin: 0 0 10px 0;
}

.module4 #dilemmaBG h5{
  font-style: italic;
  margin-top: 10px;
}
.module4 #dilemmaBG p{
  font-size: 1.28em;
}

.module4 #dilemmaBG p, #dilemmaBG h5{
  margin: 20px 4%;
  color: #FBFAF9;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  font-weight: 500;
  letter-spacing: 0.0357143em;
  text-align: center;
}
